<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <style>
    /* Same CSS as index.html */
  </style>
</head>
<body>

<header>
  <h1>My Simple Portfolio</h1>
  <nav>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'portfolio' %}">Portfolio</a>
    <a href="{% url 'experience' %}">Experience</a>
    <a href="{% url 'contact' %}">Contact</a>
  </nav>
</header>

<div class="container">
  <h2>About Me</h2>
  <p>Skills:<br>
	•	💡 Adobe Illustrator<br>
	•	💡 Adobe Photoshop<br>
	•	🎥 Videography<br>
	•	📷 Photography<br>
	•	📄 Microsoft Word<br>
	•	🌐 HTML<br>
	•	🌐 CSS<br>
    <br>
⸻
<br>
Languages:<br>
	•	🌐 Kurdish: Advanced<br>
	•	🌐 English: Intermediate<br>
	•	🌐 Arabic: Basic</p>
</div>

<footer>
  <p>&copy; 2025 My Portfolio</p>
</footer>

</body>
</html>