<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Experience</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
  <h1>My Simple Portfolio</h1>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'portfolio' %}">Portfolio</a>
    <a href="{% url 'experience' %}">Experience</a>
    <a href="{% url 'contact' %}">Contact</a>

  </nav>
</header>

<div class="container">
  <h2>Experience</h2>
  <p>Experience:<br>
	•	2017: Worked at stationary and mobile phones.<br>
	•	2018 - 2020: Teacher and worker at HF Fitness GYM.<br>
	•	2020 - 2021: Cashier in Super Market.<br>
	•	2020 - 2021: Worked at PLUS SPORT.<br>
	•	2020 - 2024: Social Media Manager - Managed and grew pages through sponsorships and promotions for multiple small and large businesses.<br>
	•	2021 - 2022: Worked at Maximall in Majdi Mall as Supervisor.<br>
	•	2022: Promoted premium stone bracelets and rings at Family Mall for a well-established Kurdish brand.<br>
	•	2022 - 2023: Had a small business in social media.<br>
	•	2022 - 2023: Barista & Café Supervisor at Kaghaz Café.<br>
	•	2024: Head of Election Monitoring for the Kurdistan Parliament Elections.<br>
	•	2024 - Now: Works at M Center Company.<br>
</p>
</div>

<footer>
  <p>&copy; 2025 My Portfolio</p>
</footer>

</body>
</html>